body,ul,h1,h2,h3,p,pre,input{margin: 0}
ul{list-style-type: none; padding: 0}
img{border: none}
input,select,textarea{outline: none}
header,section,article,section,nav,footer{display: block}
a{text-decoration: none; cursor: pointer;} 
a:hover{text-decoration: underline;}     
:-moz-any-link:focus{outline: none;}
